.messageNode{
  background-color: #fff;
  cursor: grab;
  width: 250px;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.messageNodeSelected {
  border: 1px solid blue;
  border-radius: 4px;
}

.messageHeader {
  background-color: aqua;
  padding: 0.5rem;
  border-radius: 4px 4px 0 0;
}

.messageBody {
  padding: 0.5rem;
  border-radius: 0 0 4px 4px; 
}
